@media (max-width: 767.98px) {
.about-page .my-5 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.aboutUs .about-us {
    font-size: 2.2rem !important; 
    margin-bottom: 1.5rem !important;
    text-align: center;
}

.aboutUs h3 {
    font-size: 1.3rem;
}

.aboutUs p.lead {
    font-size: 1rem;
}

.aboutUs img {
    margin-top: 1rem;
}

.chooseUs .choose-us {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
}

.icon-style {
    width: 60px; 
    height: auto;
}

.s-row h2 {
    font-size: 1.3rem;
}

.ourVision .our-vision {
    font-size: 2.2rem !important;
}

.trending-title {
    font-size: 3rem !important; 
    margin-bottom: 1.5rem !important;
}

.trending .row {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.buy-button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}
}

.icon-style {
    width: 70px;
    height: 70px;
    filter: invert(74%) sepia(14%) saturate(354%) hue-rotate(343deg) brightness(92%) contrast(88%);
    transition: all .4s ease-in-out;
}

.icon-style:hover {
    transform: scale(1.2);
    filter: brightness(0) saturate(100%) invert(33%) sepia(78%) saturate(470%) hue-rotate(2deg) brightness(85%) contrast(90%);

}

.about-us {
    color: #593A26;
}

.choose-us {
    font-size: 60px;
    font-weight: 700;
    color: #593A26;
}

.choose {
    background-color: #EFE9E3;
}

.f-row {
    padding: 0 120px;
}

.s-row {
    padding: 0 120px;
}

.our-vision {
    color: #593A26;
}

.trending {
    background-image: url(../assets/images/perfumes.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 150px;
}

.trending .buy-button {
    color: #fff;
    background-color: black;
    font-size: 18px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .7s;
}

.trending .buy-button:hover {
    color: black;
    background-color: #fff;
}