:root {
  --color-cream: #f9f8f6;
  --color-beige-light: #efe9e3;
  --color-beige: #d9cfc7;
  --color-tan: #c9b59c;
}

/* Background colors */
.bg-cream {
  background-color: var(--color-cream) !important;
}
.bg-beige-light {
  background-color: var(--color-beige-light) !important;
}
.bg-beige {
  background-color: var(--color-beige) !important;
}
.bg-tan {
  background-color: var(--color-tan) !important;
}

/* Text colors */
.text-cream {
  color: var(--color-cream) !important;
}
.text-beige-light {
  color: var(--color-beige-light) !important;
}
.text-beige {
  color: var(--color-beige) !important;
}
.text-tan {
  color: var(--color-tan) !important;
}

/* Border colors */
.border-cream {
  border-color: var(--color-cream) !important;
}
.border-beige-light {
  border-color: var(--color-beige-light) !important;
}
.border-beige {
  border-color: var(--color-beige) !important;
}
.border-tan {
  border-color: var(--color-tan) !important;
}

.bg-color-test {
  background-color: var(--color-beige) !important;
}